<mat-toolbar color="primary">
    <div><button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>
                menu
            </mat-icon>
        </button>
    </div>
    <div><a routerLink="/">Fitness</a></div>
    <div id="flexthing"></div>
    <div class="links">
        <a routerLink="/signup" *ngIf="!isAuth">Signup</a>
        <a routerLink="/login" *ngIf="!isAuth">Login</a>
        <a routerLink="/training" *ngIf="isAuth">Training</a>
        <a *ngIf="isAuth" style="cursor: pointer" (click)="onLogout()">Logout </a>
    </div>
</mat-toolbar>