<!--<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>-->
<div class="main-container">
  <header class="header header-5">
    <div class="branding">
      <a href="" class="nav-link">
        <cds-icon shape="vm-bug"></cds-icon>
        <span class="title">Time Reg#</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav>
      <a clrVerticalNavLink routerLink="./home" routerLinkActive="active">Home</a>
      <a clrVerticalNavLink routerLink="./dashboard" routerLinkActive="active">Dashboard</a>
      <a clrVerticalNavLink routerLink="./new-time-entry" routerLinkActive="active">New Time Entry</a>


    </clr-vertical-nav>
  </div>
</div>
