<h3>Time Entry Components:</h3>
<body>
Time Entry has the following components:
  <ul>
    <li>Id. Automatically assigned </li>
    <li>Title. Item Title.</li>
    <li>Description. Item Description.</li>
    <li>StartTime. Combined Date and Time Element.<br/>
      The following standard times can also be selected:
      <ul>
        <li>Current Time: Current local time.</li>
        <li>Today Start Time Standard: Date of today @ 08:30am.</li>
        <li>Today Stop Time Standard : Date of today @ 17:00pm.</li>
        <li>Custom TimeDate: Custom Date & Time.</li>
      </ul></li>
  </ul>

<form clrForm id="TimeEntryForm" #timeEntryForm="ngForm">
      <legend>Time Entry:</legend>

    <clr-input-container>
      <label>Title: </label>
      <input clrInput type="text" required [(ngModel)]="model.title" name="title" placeholder="Put title here." />
    </clr-input-container>

    <clr-input-container>
      <label>Description:</label>
      <input clrInput [(ngModel)]="model.description" name="description" required placeholder="Description of the work." />
    </clr-input-container>

    <clr-date-container>  
      <label>Datum: </label>
      <input clrDate type="date" name="startDate" [(ngModel)]="model.startDate" />
    </clr-date-container>

    <clr-input-container>  
      <label>Start tijd uren: </label>
      <input clrInput type="number" min="0" max="23" name="startTimeHours" [(ngModel)]="model.startTimeHours" />
    </clr-input-container>

    <clr-input-container>
      <label>Start tijd minuten: </label>
      <input clrInput type="number" min="0" max="59" name="startTimeMinutes" [(ngModel)]="model.startTimeMinutes" />
    </clr-input-container>
    <br>

    <button class="btn btn-primary btn-sm" (click)="useCurrentTime()">Current Time</button>
    <button class="btn btn-primary btn-sm" (click)="useStartTime()">Default Start Time</button>
    <button class="btn btn-primary btn-sm" (click)="useStopTime()">Default Stop Time</button>
    <button class="btn btn-secondary btn-sm" (click)="submit()" [disabled]="timeEntryForm.invalid">Submit</button>

</form>

</body>
